<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="B&P Technology is an integrator and supplier of quantum information and quantum computing technology, providing customized product solutions for clients worldwide." />
  <meta name="keywords" content="B&P BP Quantum Computer Zuchongzhi 量子计算 ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}

  <link rel="stylesheet" href="{{ '/public/css/poole.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/public/apple-touch-icon.png' | absolute_url }}">
  <link rel="shortcut icon" href="{{ '/public/favicon.ico' | absolute_url }}">

  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title == 'Home' %}{{ site.title }}{% else %}{{ page.title }}{% endif %}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:image" content="{{ '/public/ogimage.png' | absolute_url }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  

  {% if site.google_analytics_id %}
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics_id }}');
  </script>
  {% endif %}
</head>
